* {
  box-sizing: border-box;
}

html { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding-top: 6%;
}

.container {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 5% 2%;
  text-align: center;
}

header h1 {
  font-size: 1.8rem;
  margin: 0 0 40px 0;
}

.result-container {
  padding: 4%;
}

h2 {
  font-size: 1.3rem;
  margin-top: 26px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

#text-input {
  padding: 6px;
  border-radius: 5px;
  width: 80%;
}
@media only screen and (min-width: 600px) {
  #text-input {
    width: 400px;
  }
}

.button-container {
  margin-top: 20px;
}

#change-text {
  background-color: #000000;
  color: #ffffff;
  padding: 7px 25px;  
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

#change-text:hover, #change-text:focus {
  background-color: #5b5c5c;
  cursor: pointer;
}